.features {
  background: #f7f8f9;
  position: relative;
  text-align: center;

  &:after {
    left: 100%;
  }

  &:before {
    right: 100%;
  }

  &__item {
    margin-left: auto;
    margin-right: auto;
    max-width: 256px;

    @include rem(font-size, 18px);
    @include rem(margin-bottom, 17px);
    @include transform(translate(0, 0) !important);
    @include animation(none !important);
    @include animation-name(none !important);
    @include animation-duration(0s !important);

    &__img {
      position: relative;

      @include rem(height, 69px);
      @include rem(margin-bottom, 35px);
    }

    &__title {
      color: $text;
      font-weight: $fw-semi;
      margin-bottom: 5px;

      @include rem(margin-bottom, 5px);
    }

    &__text {
      color: rgba($secondary, .8);
      margin-bottom: 0;

      @include rem(line-height, 30px);
    }

    .h1 {
      @include rem(margin-bottom, 40px);
    }

    &__list {
      max-width: 950px;
      margin: 0 auto;


      .h4 {
        @include rem(margin, 40px 0 48px);
      }
    }

    .btn {
      @include rem(margin, 30px);
    }

    &--dur1 {
      @include animation-duration(1s);
    }
    &--dur2 {
      @include animation-duration(1.2s);
    }
    &--dur3 {
      @include animation-duration(1.2s);
    }
    &--dur4 {
      @include animation-duration(1.4s);
    }
    &--dur5 {
      @include animation-duration(1.5s);
    }
    &--dur6 {
      @include animation-duration(1.65s);
    }
  }

  @media (min-width: $screen-mobile + 1) {
    &__item {
      opacity: 1 !important;
    }
  }
}

.assets_list {
  @extend %disable-list-style;
}