.landing {
  h1, .h1 {
    @include rem(margin-bottom, 30px);
  }

  h1, h2, h3 {
    text-align: center;
  }

  hr {
    max-width: none;
    width: 100%;
    border: 0;
    border-bottom: 1px solid $gray-25;

    @include rem(margin, 30px 0);
  }

  .h3--opacity {
    opacity: .8;
  }

  &__subtitle {
    color: $secondary;

    @include rem(margin-bottom, 132px);
    @include rem(padding, 0px 41px);
    @include rem(line-height, 36px);
    @include rem(font-size, 22px);
  }

  .features {
    background: transparent;
    position: relative;
    text-align: center;
    font-size: 0;

    @include rem(margin, 0 -70px);

    &__item {
      margin-left: auto;
      margin-right: auto;
      max-width: none;
      display: inline-block;
      vertical-align: top;
      width: percentage(1/3);

      @include rem(font-size, 18px);
      @include rem(margin-bottom, 100px);
      @include rem(padding, 0 14px);


      &--dur1 {
        @include animation-duration(1s);
      }
      &--dur2 {
        @include animation-duration(1.2s);
      }
      &--dur3 {
        @include animation-duration(1.2s);
      }
      &--dur4 {
        @include animation-duration(1.4s);
      }
      &--dur5 {
        @include animation-duration(1.5s);
      }
      &--dur6 {
        @include animation-duration(1.65s);
      }
    }

    &__img {
      position: relative;

      @include rem(height, 69px);
      @include rem(margin-bottom, 35px);
    }

    &__title {
      color: $text;
      font-weight: $fw-semi;
      letter-spacing: 1.79px;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 32px;

      @include rem(margin-bottom, 9px);
    }

    &__text {
      margin-bottom: 0;
      color: $gray-dark;
      letter-spacing: 0;
      font-size: 18px;
      line-height: 30px;
    }

    @media (max-width: 1100px) {
      margin: 0;
    }

    @media (max-width: 991px) {
      &__item {
        width: 50%;
      }
    }
    @media (max-width: 539px) {
      &__item {
        width: 100%;
        max-width: 300px;
        margin-bottom: 50px;
      }
    }
  }

  .container {
    width: 1230px;
    max-width: 100%;
  }

  &--apps {
    .h2, .h3 {
      color: $white;
      text-align: left;
    }
  }

  &--intro {
    background: $secondary url(../img/landing/field_big.jpg) no-repeat center;
    color: $white;
    text-align: center;
    padding-bottom: 0 !important;

    @include background-size(cover);

    @media (min-width: 768px) {
      @include rem(padding, 120px 0 0 !important);
    }

    .landing_intro__title,
    .h3 {
      color: $white;

      @include rem(padding, 0 20px);

      p {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        margin-bottom: 0;
      }
    }
  }

  &--features {
    text-align: center;

    .apps {
      text-align: right;

      @include rem(margin-top, 5px);
    }

    .page__title,
    .landing__subtitle {
      text-align: left;
      padding: 0;
    }

    .landing_features_title {
      @include rem(margin-bottom, 15px);
    }

    @media (min-width: $screen-landscape) {
      @include rem(padding, 115px 0 43px !important)
    }

    @media (max-width: $screen-landscape) {
      .landing_features_title {
        text-align: center;

        @include rem(margin-bottom, 40px);
      }

      .page__title {
        text-align: center;

        @include rem(margin-bottom, 25px);
      }

      .apps {
        margin-top: 0;
        text-align: center;
        float: none !important;
      }
    }
  }

  &--video {
    -webkit-background-image: linear-gradient(-179deg, #0DA7FC 0%, #0388EF 100%);
    background-image: linear-gradient(-179deg, #0DA7FC 0%, #0388EF 100%);
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index:2;
      opacity: 0.9;

      -webkit-background-image: linear-gradient(-179deg, #0DA7FC 0%, #0388EF 100%);
      background-image: linear-gradient(-179deg, #0DA7FC 0%, #0388EF 100%);
      @include transition(opacity .3s ease);
    }

    .container {
      width: 1280px;
    }

    .btn_video {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: -55px auto;
      z-index: 10;
    }

    &.video_played {
      &:after {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
      }

      .btn_video {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &--qa {
    padding-bottom: 0;

    .container {
      width: 1030px;
    }

    @media (min-width: $screen-landscape) {
      &.section--padding {
        @include rem(padding, 103px 0 0);
      }
    }
  }

  &--apps {
    -webkit-background-image: linear-gradient(-180deg, #AB00FF 0%, #8715D4 100%);
    background-image: linear-gradient(-180deg, #AB00FF 0%, #8715D4 100%);

    .h2, .h3 {
      text-align: left;
      padding-left: 35px;
      margin-bottom: 0;
      margin-top: 0;
      color: #fff;
    }

    .apps {
      padding: 12px 0;
    }

    @media (min-width: $screen-tablet + 1) {
      &.section--padding {
        padding: 58px 0 52px;
      }
    }
  }

  &--info {
    background: #F5F6F7;

    @media (min-width: 768px) {
      &.section--padding {
        padding: 44px 0;
      }
    }

    .landing__text {
      font-size: 16px;
      line-height: 24px;
      color: #3F4D60;

      p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
        color: #3F4D60;
      }

      b {
        font-weight: $fw-semi;
      }
    }

    .container {
      width: 1000px;
    }
  }

  @media (max-width: $screen-landscape) {
    &--apps {
      text-align: center;

      .h2, .h3 {
        padding: 0;
        text-align: center;
      }
    }
  }

  @media (max-width: $screen-mobile) {
    &--video {
      margin-bottom: 20px;
    }

    &--apps {
      text-align: center;
      padding: 34px 0;

      .h2, .h3 {
        padding: 0;
        text-align: center;
      }

      .h2 {
        margin-bottom: 0;
      }

      .h3 {
        margin-bottom: 20px;
      }
    }

    &--info {
      padding: 42px 0;
    }
  }
}