.qa {
  .row {
    font-size: 0;
    border-bottom: 1px solid $border-alt;

    @include rem(margin-left, -30px);
    @include rem(margin-right, -30px);
    @include rem(margin-bottom, 22px);

    &:last-child {
      margin-bottom: 0;

      .col-sm-6:last-child {
        .qa_item {
          border-bottom: 0;
        }
      }
    }

    > div {
      float: none;
      display: inline-block;
      vertical-align: top;

      @include rem(padding-left, 30px);
      @include rem(padding-right, 30px);
    }
  }

  &_item {
    @include rem(padding, 25px 0 80px);


    p {
      color: $secondary;

      @include rem(margin-bottom, 5px);
    }

    ol {
      @include rem(padding-left, 34px);
    }

    &__num {
      font-weight: $fw-semi;
      color: $blue;
      letter-spacing: 2px;
      text-align: center;

      @include rem(font-size, 40px);
      @include rem(line-height, 50px);
      @include rem(margin-bottom, 11px);
    }

    &__title {
      font-weight: $fw-semi;
      color: $text;
      text-align: center;

      @include rem(font-size, 22px);
      @include rem(line-height, 35px);
      @include rem(margin-bottom, 15px);
    }

    &__text {
      color: $secondary;

      @include rem(font-size, 18px);
      @include rem(line-height, 30px);
      @include rem(padding-right, 20px);
    }
  }

  @media all and (max-width: $screen-landscape) {
    .row {
      border-bottom: 0;
      margin-bottom: 0;
    }

    &_item {
      border-bottom: 1px solid $border-alt;
      padding: 40px 0;
    }
  }
}