.banner {
  &--results {
    background: #F7F8F9;
    border-radius: 3px;
    padding: 20px 22px;
    margin-bottom: 40px;

    p:last-of-type, h4 {
      margin-bottom: 0;
    }

    img {
      margin-left: 20px;
    }
  }
}