.btn {
  color: #fff;
  font-weight: $fw-semi;
  font-size: 18px;
  padding: 10px 28px;
  border: 0;
  background: $primary;
  position: relative;
  overflow: hidden;
  display: inline-block;
  @include border-radius(100px);
  @include transition($all);
  @include box-shadow-none(none!important);

  &:after {
    content: '';
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 0%;
    height: 200%;
    background: rgba(255,255,255,0.15);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
  }

  &:not([disabled]) {
    &:hover {
      @include transform(scale(1.02));
      &:after {
        width: 40%;
      }
    }

    &:active {
      @include transform(scale(0.98));
    }
  }

  &--gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9100+0,ff0029+50,ab00ff+100 */
    background: $primary !important; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff9100 0%, #ff0029 50%, #ab00ff 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ff9100 0%,#ff0029 50%,#ab00ff 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ff9100 0%,#ff0029 50%,#ab00ff 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9100', endColorstr='#ab00ff',GradientType=1 )!important; /* IE6-9 */
  }

  &--stroke {
    background: transparent;
    border: 2px solid $primary;
    color: $primary !important;
    font-weight: normal;
    @include border-radius(200px);

    .header & {
      font-size: 16px;
      padding: 7px 25px;
    }

    &:hover {
      background: $primary;
      color: #fff !important;
    }
  }

  &--go {
    margin: 60px 0 40px;
  }

  &--default {
    border: 1px solid #e1e1e1;
    background: transparent;
    font-size: 16px;
    color: #3F4D60 !important;
    font-weight: normal;
    padding: 13px 21px;

    &:after {
      display: none;
    }

    &:hover {
      /* BG: */
      border-color: #B3B7BA;
      color: #3F4D60 !important;
      @include transform(none !important);
    }
  }
}


.form-control {
  text-align: center;
  background: #e8e9ea;
  color: $text;
  font-size: 18px;
  border: 0;
  height: 50px;
  @include box-shadow-none(none!important);
  @include placeholder {
    color: rgba(#3f4d60, .5);
  }

  &.error {
    background: rgba(#ff0029, .1);
  }
}

.form-group {
  margin-bottom: 20px;
}

.reserve_form {
  padding: 45px 0 45px 0;
  max-width: 100%;
  width: 300px;
  margin: 0 auto;
  text-align: center;

  .btn {
    width: 100%;
  }
}


.help-block {
  margin: 17px -15px;
  font-size: 18px;
  color: rgba(#333333, .50);
}

label.error {
  display: none!important;
}


.input-search {
  width: 200px;
  position: relative;

  .form-control {
    border-radius: 100px;
    background: transparent;
    border: 1px solid transparent;
    height: 40px;
    text-align: left;
    font-size: 16px;
    padding-left: 45px;

    &:focus {
      border-color: #D3D6DB;
      background: #fff;
    }

    @include placeholder {
      color: rgba(#3F4D60, .5);
    }
  }

  .btn-link {
    position: absolute;
    top: 5px;
    left: 11px;
    z-index:2;
    color: rgba(#3F4D60, .5);

    .icon--search {
      font-size: 16px;
      margin-right: 0;
      @include rotateY(180deg);
    }

  }
}

.leading__inner,
.reserve_form {
  .btn {
    padding: 13px 30px 12px 24px;
    margin: 0 10px 15px;
  }

  .btn_group {
    margin-left: -10px;
    margin-right: -10px;
  }

  .store_icon {
    margin-right: 8px;
  }
}

.requestForm {
  position: relative;
}

.hidden_form {
  display: none;
}

.form {
  &--search {
    @include clearfix;
  }

  &--share_result {
    margin-bottom: 40px;

    .form-control {
      text-align: left;
      background: #FFFFFF;
      border: 1px solid #D3D6DB;
      border-radius: 4px;
      padding-left: 20px;
      padding-right: 20px;

      &[disabled] {
        background: #F4F4F4;
      }
    }

    .btn {
      padding: 13px 28px 12px;
    }

    .icon {
      font-size: 24px;
    }
  }

  &--message {
    margin-bottom: 38px;
    position: relative;

    @include transition(padding .3s ease);

    .message_actions {
      position: absolute;
      bottom:0;
      left: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;

      @include transform(translate3d(0, 80px, 0));
      @include transition(all .3s ease);
    }

    &.with_value {
      padding-bottom: 75px;

      .message_actions {
        opacity: 1;
        visibility: visible;

        @include transform(translate3d(0, 0, 0));
      }
    }
  }
}

.btn-circle {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  line-height: 34px;

  &:after {
    display: none;
  }

  .page_nav & {
    margin-top: 0;
  }
}

.btn_participate {
  margin-bottom: 30px;
  padding: 14px 18px 12px;
  max-width: 298px;

  .icon {
    font-size: 23px;
    margin-right: 3px;
    position: relative;
    left: -12px;
  }
}

.btn-group {
  font-size: 0;
  display: table;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 40px;

  .btn {
    background: transparent;
    border: 1px solid #D3D6DB;
    border-radius: 0;
    margin-left: -1px;
    padding: 7px 21px;
    font-size: 16px;
    color: rgba(#3F4D60, .8) !important;
    letter-spacing: 0px;
    line-height: 24px;
    display: table-cell;
    vertical-align: top;

    .icon {
      font-size: 16px;
      color: rgb(138,150,161);

      .path1:before, .path2:before, .path3:before {
        color: rgb(138,150,161);
      }
    }

    &:after {
      display: none;
    }

    &:hover {
      @include scale(1);
      background: rgba(#D3D6DB, .2);
    }

    &:first-child {
      border-radius: 50px 0 0 50px;
    }

    &:last-child {
      border-radius: 0 50px 50px 0;
      padding: 7px 18px;
    }
  }
}

.checkbox {
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  label {
    padding-left: 25px;

    input[type="checkbox"] {
      margin-left: -25px;
    }
  }
}

.control-label {
  color: rgba($secondary, .6);
  font-weight: normal;
}

.select {
  border-radius: 3px;
  position: relative;
  border: 1px solid rgba($secondary, .2);
  display: table;
  width: 100%;

  &__value, &__label {
    display: table-cell;
    vertical-align: baseline;
  }

  &__value {
    width: auto;
    height: auto;
    font-size: 16px;
    color: $secondary;
    padding: 14px 40px 14px 0;
    
    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__label {
    margin: 0;
    padding: 14px 10px 14px 20px;
    font-size: 16px;
    width: 10px;
  }

  &__elem {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    font-size: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &:after {
    font-family: 'icon';
    content: "\e90f";
    position: absolute;
    font-size: 10px;
    right: 15px;
    top: 50%;
    margin-top: -4px;
    color: rgba($secondary, .6);
  }
}