.block_subscribe {
  h5 {
    line-height: 1.5;
    font-size: 16px;

    @include rem(margin-bottom, 5px);
  }

  .hint {
    line-height: 1.43;
    color: #8c94a0;

    @include rem(font-size, 14px);
  }

  .form {
    @include rem(margin-top, 10px);
  }

  .form-group {
    max-width: 392px;
    position: relative;

    @include rem(padding-right, 120px);

    .btn {
      position: absolute;
      right: 0;
      top: 0;
      line-height: 1.7em;

      @include rem(font-size, 14px);
    }
  }

  .form-control {
    @include rem(height, 40px);
    @include rem(font-size, 14px);
    @include rem(padding, 10px 20px);

    line-height: 1.71;
  }

  .input-group {
    .icon {
      position: absolute;
      top: 0;
      left: 0;
      margin-right: 0;
      color: #b2b8bf;

      @include rem(font-size, 26px);
      @include rem(padding, 7px 10px);

      + .form-control {
        @include rem(padding-left, 44px);
      }
    }
  }

  @media all and (max-width: $screen-tablet) {
    margin-bottom: 35px;
    text-align: left;

    .hint {
      margin-bottom: 20px;
    }

    h5 {
      font-size: 14px;
    }
  }

  @media all and (max-width: $screen-mobile) {
    .form-group {
      padding-right: 0;
      max-width: none;

      .btn {
        position: static;
        width: 100%;
        font-size: 13px;
        height: 40px;
        padding: 10px 20px;
      }
    }

    .input-group {
      margin-bottom: 15px;

      .icon {
        font-size: 24px;
        top: 3px;
        left: 2px;

        + .form-control {
          padding-left: 42px;
        }
      }
    }

    .form-control {
      height: 40px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 13px;
      margin-bottom: 0;
    }
  }
}