.list {
  &--striped {
    @include rem(margin-top, -7px);
    @include rem(margin-bottom, 60px);

    .list__item {
      border-top: 1px solid $border-alt;
      color: $text;

      @include rem(font-size, 18px);
      @include rem(line-height, 30px);
      @include rem(padding, 10px 0);

      &:first-child {
        border-top: 0;
      }

      a {
        color: inherit;

        @include rem(padding, 10px 0);

        &:hover {
          color: $blue;
        }
      }
    }
  }
}

.page_nav {
  .container {
    position: relative;
  }

  .btn_contact {
    position: absolute;
    top: 50%;
    right: 15px;

    @include rem(margin-top, -25px);
  }

  @media all and (max-width: $screen-tablet) {

  }
}

.section--padding_bottom {
  @include rem(padding-bottom, 60px)
}

.btn_contact_header {
  @include rem(line-height, 40px);

  .icon {
    @include rem(font-size, 28px);
  }

  &:hover {
    color: $text;
  }

  .fixed & {
    color: #fff;
    margin-top: -9px;
  }

  @media all and (max-width: $screen-mobile-old) {
    line-height: 25px;

    &:hover {
      color: $white;
    }

    .icon {
      @include rem(font-size, 22px);
    }

    .fixed & {
      margin-top: 0px;
    }
  }
}

.list {
  &--media {
    @include rem(margin-bottom, 40px);

    .list__item {
      text-align: center;

      @include rem(margin-bottom, 45px);

      img {
        @include rem(margin-bottom, 20px);
      }
    }



    @media all and (min-width: $screen-landscape + 1) {
      .list__item {
        text-align: left;

        img {
          @include rem(margin-top, 70px);
        }
      }

      .pull-right {
        text-align: right;
      }
    }
  }
}

@media all and (max-width: $screen-landscape) {
  h1 {
    text-align: center;
  }
}

.section--banner.section--padding {
  @include rem(padding, 40px 0)
}


@mixin linear-gradient($angle, $color-stops...) {
  $_angle-with-vendor-prefix: "";
  $_angle: "";
  @if $angle == "to top" or $angle == "bottom" {
    $_angle-with-vendor-prefix: bottom;
    $_angle: to top;
  } @else if $angle == "to right" or $angle == "left" {
    $_angle-with-vendor-prefix: left;
    $_angle: to right;
  } @else if $angle == "to bottom" or $angle == "top" {
    $_angle-with-vendor-prefix: top;
    $_angle: to bottom;
  } @else if $angle == "to left" or $angle == "right" {
    $_angle-with-vendor-prefix: right;
    $_angle: to left;
  } @else if $angle == "to top right" or $angle == "bottom left" {
    $_angle-with-vendor-prefix: bottom left;
    $_angle: to top right;
  } @else if $angle == "to bottom right" or $angle == "top left" {
    $_angle-with-vendor-prefix: top left;
    $_angle: to bottom right;
  } @else if $angle == "to bottom left" or $angle == "top right" {
    $_angle-with-vendor-prefix: top right;
    $_angle: to bottom left;
  } @else if $angle == "to top left" or $angle == "bottom right" {
    $_angle-with-vendor-prefix: bottom right;
    $_angle: to top left;
  } @else {
    $_angle-with-vendor-prefix: $angle % 360;
    $_angle: (90 - $angle) % 360;
  }
  background: -webkit-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: -moz-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: -o-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: linear-gradient($_angle, $color-stops);
}

.case_studies {
  &__item {
    position: relative;

    @include rem(margin-bottom, 80px);
  }

  h3 {
    @include rem(margin-bottom, 14px);

    a {
      color: inherit;

      &:hover {
        color: rgba($secondary, .8);
      }
    }
  }

  &__img {
    width: 100%;
    text-align: center;
    position: relative;

    @include rem(margin-bottom, 40px);
    @include rem(height, 300px);
    @include rem(line-height, 300px);

    > a {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    &--yellow {
      @include linear-gradient('to bottom', #FFCB48, #FFAE2C);
    }

    &--green {
      @include linear-gradient('to bottom', #20d330, #13b72a);
    }

    &--blue {
      @include linear-gradient('to bottom', #41C5FF, #0DA7FC);
    }

    &--gray {
      @include linear-gradient('to bottom', #EBEDEF, #CFD2D7);
    }
  }
}