.blog {

}

.blog_event {
  position: relative;
  color: $white;

  @include rem(margin-bottom, 50px);
  @include rem(height, 600px);

  .container {
    height: 100%;
  }

  .label {
    @include rem(margin-bottom, 13px);
  }

  .news_list__date {
    color: rgba($white, .8);
  }

  .news_list__info {
    margin-bottom: 0;
  }

  a {
    color: inherit;
  }

  p {
    color: $white;

    @include rem(font-size, 18px);
  }

  &__info {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;

    @include rem(padding, 60px 70px)
  }

  &__title {
    color: $white;
    font-weight: $fw-semi;

    @include rem(margin-bottom, 6px);
    @include rem(font-size, 40px);
  }

  &__wrapper {
    position: relative;
    height: 100%;
    display: block;
    text-decoration: none;

    @include background-size(cover);

    &:after {
      z-index: 0;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, .5);
      pointer-events: none;
    }
  }

  @media all and (max-width: $screen-landscape) {
    @include rem(height, 400px);

    &__wrapper {
      margin-left: -30px;
      margin-right: -30px;
      width: auto;
      max-width: none;
    }

    &__info {
      @include rem(padding, 35px 30px);
    }
  }

  @media all and (max-width: $screen-mobile) {
    height: auto;

    &__wrapper {
      margin-left: -15px;
      margin-right: -15px;

      @include rem(min-height, 400px);
    }

    &__title {
      margin-bottom: 10px;
    }

    &__info {
      position: relative;

      @include rem(padding, 35px 15px);
    }
  }
}

.blog_categories {
  background: rgba(#EAEDEF, .4);

  @include rem(padding, 30px 0);
  @include rem(margin-bottom, 30px);

  h5 {
    @include rem(margin-bottom, 18px);
  }
}

.blog_post_header {
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  @include background-size(cover);
  @include rem(height, 500px);

  &:after {
    z-index: 0;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .5);
    pointer-events: none;
  }

  .container {
    height: 100%;
    position: relative;
    z-index: 3;
    width: 970px + 30px;
  }

  .news_article__title {
    text-align: center;
    color: $white;
    margin-bottom: 0;
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
  }
}