body {
  background: #F7F8F9;
}

.page .container--extend {
  width: 1280px;
}

@media (min-width: 768px) {
  .page .section--padding {
    padding: 45px 0;
  }
}

.section--search {
  text-align: center;
  background: #F7F8F9;

  h2 {
    text-transform: uppercase;
    font-size: 34px;
    letter-spacing: .07em;
    color: $secondary;
  }

  @media all and (max-width: 767px) {
    h2 {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }
}

.page__footer .footer__bottom {
  background: #fff;
}

.form--search_blockchain {
  padding: 30px 0;

  .btn {
    margin-bottom: 20px;
    vertical-align: middle;
  }

  .form-control {
    width: 520px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  @media all and (max-width: 767px) {
    padding: 0;

    .form-control {
      width: 100%;
    }
  }
}

.section--be {
  .page__title {
    text-transform: uppercase;
    margin-bottom: 0 !important;
  }

  .page__subtitle {
    text-align: left;
    font-weight: normal;
    margin-bottom: 0;
    color: $secondary;
    word-break: break-all;
  }

  .page__header {
    margin-bottom: 36px;
  }

  @media all and (min-width: 768px) {
    .page__subtitle {
      font-size: 22px;
    }

    h3 {
      text-transform: uppercase;
      font-size: 22px;
      letter-spacing: .1em;
      color: $secondary;
    }
  }

  .table-responsive {
    margin-bottom: 50px;
  }
}

.page__arrows {
  margin-top: 5px;
}

.page__arrow {
  color: rgba($secondary, .6);
  padding: 10px;
  display: inline-block;
  vertical-align: top;

  .icon {
    font-size: 22px;
    margin: 0;
  }
}

.table {
  &--be_info.table {
    font-size: 16px;

    tr {
      th {
        font-size: 14px;
        text-transform: uppercase;
        color: $secondary;
        font-weight: $fw-semi;
        letter-spacing: .1em;
      }

      td, th {
        padding-left: 0;
        cursor: auto;

        &:first-child {
          width: 170px;
        }
      }
      td {
        padding-top: 9px;
        padding-bottom: 9px;
      }

      &:hover {
        background: transparent;

        td, th {
          background: transparent;
        }
      }
    }
  }

  &--text_big.table {
    font-size: 24px;
  }

  &--transaction_view.table {
    font-size: 16px;

    tr {
      th {
        font-size: 18px;
        text-transform: none;
        color: $secondary;
        font-weight: normal;
        padding: 20px 30px 20px 0;
        letter-spacing: normal;

        &:last-child {
          padding-right: 0;
        }
      }

      td, th {
        cursor: auto;
        border: 0;
      }

      td {
        padding: 15px 15px 9px 0;
        border: 0;
        vertical-align: top;

        &:nth-child(2) {
          width: 555px;
        }
      }

      a {
        color: inherit;

        &:hover {
          color: #0DA7FC;
        }
      }

      &:hover {
        background: transparent;

        td, th {
          background: transparent;
        }
      }
    }

    .table__header ~ .table__header {
      .transaction_view__title {
        padding-top: 20px;
        border-top: 1px solid #f0f0f0;
      }
    }
  }

  &--asstes {
    tr {
      td, th {
        white-space: normal;

        &:first-child {
          width: 10px !important;
        }
      }
    }
  }

  &__header {
    &--main {
      th {
        padding-bottom: 0 !important;
      }
    }
  }
}

.text-small {
  font-size: 16px !important;
}

.text-muted {
  color: rgba(63, 77, 96, 0.6) !important;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.transaction_view {
  padding-left: 5px;
  background: #fff;
  border-radius: 4px;
  position: relative;
  margin-bottom: 30px;

  @media all and (max-width: 991px) {
    margin-right: -15px;
    padding-right: 20px;
  }

  .table-responsive {
    padding-left: 25px;
    padding-right: 30px;
    padding-bottom: 25px;
    margin-bottom: 0;
  }

  &:before {
    width: 2px;
    height: auto;
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    border-radius: 2px;
    background: rgba($secondary, .35);
  }

  &--colored {
    &:before {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9100+0,ff0029+50,ab00ff+100 */
      background: $primary !important; /* Old browsers */
      background: -moz-linear-gradient(top,  #ff9100 0%, #ff0029 50%, #ab00ff 100%)!important; /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #ff9100 0%,#ff0029 50%,#ab00ff 100%)!important; /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #ff9100 0%,#ff0029 50%,#ab00ff 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9100', endColorstr='#ab00ff',GradientType=1 )!important; /* IE6-9 */
    }
  }

  &__title {
    font-size: 14px !important;
    font-weight: $fw-semi !important;
    text-transform: uppercase !important;
    letter-spacing: .1em !important;


    a {
      color: inherit;
    }

    span {
      color: rgba($secondary, .6);
      text-transform: none;
      letter-spacing: normal;
      font-weight: normal;
      margin-left: 15px;
    }
  }

  &__row {
    @include clearfix;

    .transaction_view__line + .transaction_view__line {
      margin-top: 5px;
    }

    ~ .transaction_view__row {
      margin-top: 10px;
    }

    @media all and (min-width: 768px) {
      .transaction_view__line + .transaction_view__line {
        padding-left: 38px;
        margin-top: 0;
      }
    }
  }

  &__advanced {
    margin-top: 10px;
    display: none;
    overflow: hidden;
    color: rgba($secondary, .8);
  }

  &__logo {
    vertical-align: top !important;
    border-right: 1px solid #DFE1E5 !important;
    width: 60px !important;

    + td {
      padding-left: 15px !important;
    }

    img {
      width: 48px;
    }
  }

  &__line {
    overflow: hidden;
    text-overflow: ellipsis;

    .icon {
      opacity: .35;
      font-size: 16px;
    }

    + .transaction_view__line {
      margin-top: 10px;
    }
  }

  &__arrow {
    padding-right: 40px !important;
    vertical-align: middle !important;
  }
}

.open_hidden_content {
  .caret {
    position: relative;
    top: -1px;
  }

  &.active {
    .caret {
      @include rotate(180deg);
    }
  }
}

.text-right {
  text-align: right !important;
}

.colored_arrow {
  background: url(../img/be/colored-arrow.png) no-repeat center;
  width: 20px;
  height: 35px;
  display: inline-block;
  margin:  0 10px;

  @include background-size(20px 35px);
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 6px;
  vertical-align: middle;
  border-top: 5px dashed;
  border-top: 5px solid\9;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.img-thumbnail {
  margin-bottom: 30px;
}

.hide-header .table__header--main{
  display:none;
}