.page_landing {
  .social {
    text-align: center;

    @include rem(margin-bottom, 35px);
  }

  .social--footer_alt > li, .social--header > li {

    @include rem(margin-left, 68px);

    &:first-child {
      margin-left: 0 !important;
    }

    @media all and (max-width: 640px) {
      margin-left: 20px;
    }
  }

  .lw_logo {
    @include rem(margin-bottom, 40px);

    img {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (max-width: $screen-mobile) {
    .invert_icn {
      top: -1px;

      @include background-size(12px 9px);
    }

    .lw_logo {
      padding: 0 20px;
    }
  }

  .leading .royalSlider {
    height: 500px;
  }
}


.invert_icn {
  background: url(../img/landing/icn/invert-icon.svg) no-repeat center;
  width: 15px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;

  @include background-size(15px 12px);
}