.page--invest {
  .features {
    text-align: left;
    margin: 0 -5%;

    &__item {
      max-width: none;
      text-align: center;
      opacity: 1 !important;
      visibility: visible !important;

      @include animation-name(none !important);

      @include rem(margin-bottom, 80px);
    }

    &__img {
      height: 69px;

      @include rem(margin-bottom, 27px);
    }

    &__title {
      @include rem(font-size, 28px);
      @include rem(margin-bottom, 6px);
    }
  }

  .btn {
    @include rem(padding-left, 40px);
    @include rem(padding-right, 40px);

    &--blue {
      @include rem(margin-bottom, 40px);
    }
  }

  .section_header {
    background: $white;
    position: relative;
    z-index: 2;
    margin-bottom: 0;

    @include rem(padding-top, 30px);
    @include rem(padding-bottom, 20px);

    h3 {
      margin-bottom: 0;
    }

    .hint {
      color: rgba($secondary, .6);
      letter-spacing: 0;
      font-weight: normal;

      @include rem(font-size, 16px);
      @include rem(line-height, 24px);
    }
  }

  @media all and (max-width: $screen-tablet) {
    .features {
      &__item {
        width: percentage(1/3);
      }
    }
  }

  @media all and (max-width: $screen-mobile) {
    .features {
      text-align: center;
      margin-bottom: 40px;

      &__item {
        text-align: left;
        width: 100%;
        margin-bottom: 30px;
        width: 310px;
        max-width: 100%;
      }
      
      &__img {
        float: left;
        width: 100px;
        text-align: center;
      }
    }
  }

  @media all and (min-width: $screen-tablet + 1) {
    .section--padding {
      @include rem(padding, 100px 0);

      &:first-child {
        @include rem(padding-top, 70px);
      }
    }


    h1, h2, h3, .h1, .h2, .h3 {
      text-align: left;

      &.text-center {
        text-align: center;
      }
    }
  }
}

.heading_with_select {
  @include rem(margin-bottom, 80px);

  h1, h1 {
    margin-bottom: 0;
  }

  .select {
    margin-bottom: 0;
    margin-left: 20px;
    text-align: left;
    width: auto;

    @include rem(margin-top, 5px);

    &__value {
      @include rem(min-width, 170px);
    }
  }

  @media all and (max-width: $screen-tablet) {
    margin-bottom: 80px;
    text-align: center;

    .pull-left, .pull-right {
      float: none !important;
      display: inline-block;
      vertical-align: middle;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }

  @media all and (max-width: $screen-mobile) {
    margin-bottom: 40px;
  }
}

.landing_media {
  @include rem(margin, 60px 0 74px);

  img, iframe {
    max-width: 100%;
  }
}

.assets_list {
  &--alt {
    .assets_list__item {
      width: 100%;
      text-align: left;

      @include rem(padding, 8px 0);
      @include rem(margin-bottom, 5px);

      img {
        @include rem(margin-bottom, 24px);
      }

      a {
        color: $secondary;
        display: block;

        &:hover {
          color: rgba($secondary, .8)
        }
      }
    }
  }
}

.section--gray {
  background: rgba(#EAEDEF, .4);

  @include rem(padding, 100px 0 !important);

  h3 {
    @include rem(margin-bottom, 40px);
  }
}

.invest_total {
  font-weight: $fw-semi;
  color: $text;
  letter-spacing: 0;

  @include rem(margin, 25px 0);
  @include rem(font-size, 28px);
  @include rem(line-height, 40px);

  span {
    font-weight: normal;
  }

  &__desc {
    font-weight: normal;
    color: #8C94A0;
    letter-spacing: 0;

    @include rem(font-size, 18px);
    @include rem(line-height, 30px);
  }

  &__ownership {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;

    @include rem(width, 160px);
    @include rem(padding-left, 8px);

    ._value, .ownership_value {
      display: inline-block;
      vertical-align: middle;
    }

    ._value {
      font-weight: $fw-semi;
      color: $blue;

      @include rem(margin-right, 12px);
    }
  }

  &--big {
    font-weight: normal;

    @include rem(font-size, 50px);
    @include rem(margin, 35px 0);

    span {
      font-weight: $fw-light;
    }
  }

  + .invest_total {
    @include rem(margin-top, 40px);
  }

  a {
    font-weight: normal;
    color: $blue;
    letter-spacing: 0;
    display: inline-block;
    vertical-align: top;

    &:hover {
      color: $secondary;
    }
  }
}

.ownership_value {
  border-bottom: 3px solid $blue;
  border-radius: 10px;
}

.btn--blue:not([disabled]) {
  background: $blue;

  &:hover {
    background: darken($blue, 10%);
  }
}

.list--invest {
  .list__icon {
    @include rem(width, 40px);
    @include rem(margin-right, 30px);
    @include rem(margin-top, 10px);
  }

  .list__item {
    float: none;
    display: inline-block;
    vertical-align: middle;

    @include rem(margin-right, -4px);
    @include rem(padding-top, 20px);
    @include rem(padding-bottom, 20px);
  }
  
  .list__text {
    overflow: hidden;

    p {
      @include rem(margin-bottom, 4px);
    }
  }
}

.widget_tw {
  @include rem(margin-top, -57px);
}

.news_list--simple {
  .news_list__item {
    @include rem(padding-top, 14px);
    @include rem(padding-bottom, 20px);
  }

  .news_list__title {
    font-weight: $fw-semi;
    color: $text;
    letter-spacing: 0;

    @include rem(font-size, 18px);
    @include rem(line-height, 30px);
    @include rem(margin-bottom, 5px);

    a {
      display: inline-block;
    }
  }

  .news_list__date {
    @include rem(margin-bottom, 10px);
  }

  .news_list__desc {
    margin-bottom: 0;
  }
}

.reviews_list {

}

.review_item {
  position: relative;

  @include rem(padding, 40px 0 20px);

  &:before {
    content: '';
    background: url(../img/invest/cite.svg) no-repeat;
    width: 24px;
    height: 19px;
    display: block;

    @include rem(margin-bottom, 23px);
    @include background-size(cover);
  }

  &__text {
    @include rem(margin-bottom, 20px);
  }

  &__author {
    font-weight: $fw-semi;
    color: $text;
    letter-spacing: 0;

    @include rem(font-size, 18px);
    @include rem(line-height, 30px);
    @include rem(margin-bottom, 4px);
  }

  &__author_info {
    color: rgba($secondary, .6);
    letter-spacing: 0;

    @include rem(font-size, 16px);
    @include rem(line-height, 24px);
  }
}

.invest_apps {
  overflow: hidden;

  .apps {

    @include rem(margin, 55px -10px);

    a {
      opacity: .7;
    }
  }

  .regular {
    font-weight: normal;
  }

  &__img {
    @include rem(margin-bottom, -160px);

    img {
      max-width: 100%;
    }
  }

  @media all and (min-width: $screen-tablet + 1) {
    padding-bottom: 0 !important;

    @include rem(padding-top, 120px);

    &__main {
      @include rem(margin-top, 187px);
    }

    .apps {
      text-align: left;
    }
  }
}

.site_nav {
  .nav_list__item--active a {
    @media all and (max-width: $screen-landscape) {
      top: 0;
    }
  }

  .btn_affix {
    left: auto;
    right: auto;
    float: right;
    position: static;

    &.affix {
      position: fixed;
      z-index:80;


      @include rem(top, 100px);
    }

    @media all and (max-width: $screen-mobile) {
      right: 0px !important;
    }
  }
}