.news_list {
  &__item {
    border-bottom: 1px solid $border-alt;

    @include rem(padding, 35px 0 25px);
  }

  &__media {
    @include rem(margin-bottom, 30px);

    img {
      max-width: 100%;
      min-width: 80%;
    }
  }

  &__date {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: rgba($secondary, .6);
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;

    @include rem(font-size, 16px);
  }

  &__info {
    color: rgba($secondary, .6);
    @include rem(margin-bottom, 9px);

    a {
      color: rgba($secondary, .8);
    }
  }

  &__title,
  &__title.h3 {
    color: $text;
    margin-top: 0;

    @include rem(margin-bottom, 9px);
    @include rem(padding-right, 20px);


    a:not(.btn) {
      color: inherit;

      &:hover {
        color: $secondary;
      }
    }
  }

  &__text,
  p.news_list__text {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    color: $gray-dark;

    @include rem(font-size, 22px);

    img {
      max-width: 100%;
    }

    p {
      line-height: 1.64;
      color: $gray-dark;

      @include rem(font-size, 22px);
    }

    b, strong {
      font-weight: $fw-semi;
    }
  }
}

.news_article {
  &__media {
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  &__header {
    @include rem(margin, 0 0 80px);

    .news_article__media {
      margin: 0;
    }

    .container {
      width: 1170px + 30px;
      max-width: 100%;
    }
  }

  &__body {
    .container {
      width: 970px + 30px;
      max-width: 100%;
    }
  }

  &__title {
    @include rem(margin-bottom, 60px);
  }

  &__info {
    @include rem(font-size, 16px);
    @include rem(line-height, 24px);
    @include rem(margin-bottom, 20px);

    time {
      display: block;
    }
  }

  &__text {
    @include rem(margin-top, -5px);
    @include rem(margin-bottom, 60px);
  }
}

.text--dark_gray {
  color: rgba($secondary, .8) ;
}

.social_share {
  text-align: center;

  @include rem(margin-bottom, 60px);

  &__text {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: rgba($secondary, .6);

    @include rem(font-size, 16px);
    @include rem(margin-bottom, 23px);
  }
}

.social--simple {
  > li {
    display: inline-block;

    @include rem(margin-right, 50px);

    &:last-child {
      margin-right: 0;
    }

    > a {
      color: #8c94a0;
      display: block;
      text-align: center;

      @include rem(height, 60px);
      @include rem(width, 60px);
      @include rem(line-height, 55px);

      &:hover {
        color: rgba($secondary, 1);
      }
    }
  }
}


.message_card--form {
  textarea.form-control {
    min-height: 130px;
  }
}

.focused .message_card--form .message_card__inner {
  @include rem(height, 164px);
}

.messages_list {
  @include rem(margin-bottom, 40px);
}

.message_card {
  margin-bottom: 0;

  &--accent {
    @include rem(margin-bottom, 15px);

    .card__actions {
      border-bottom: 0;
      padding-bottom: 0 !important;
    }
  }

  &--deleted {
    .message_card__message {
      color: $gray-dark;

      p {
        color: $gray-dark;
      }
    }
  }

  .message_card {
    margin-bottom: 0;

    @include rem(margin-left, -20px);
  }
}

.message_card__inner + .message_card {
  @include rem(margin-top, 15px);
}

.message_card__message {
  textarea.form-control {
    @include rem(margin-top, 20px);
  }

  .card__actions {
    color: rgba($secondary, .6);
    margin-top: 0;

    @include rem(padding, 10px 0);
    @include rem(margin-left, -4px);
  }
}

.block_header {
  @include clearfix;
  @include rem(margin-bottom, 40px);

  .btn {
    .icon {
      position: relative;
      top: -1px;
    }
  }

  h2,h3,h4 {
    margin-bottom: 0;

    span {
      font-weight: normal;

      @include rem(margin-left, 5px)
    }
  }
}

.message_actions {
  .text--gray {
    color: rgba($secondary, .6);
    font-weight: normal;

    @include rem(padding, 14px 0);
  }
}

@media (max-width: $screen-mobile) {
  .message_actions {
    .row > div {
      width: 100%;
      float: none;
    }

    .text-right {
      text-align: left !important;
    }

    .btn {
      float: right;
    }

    .text--gray {
      padding: 4px 0;
      margin-bottom: 10px;
    }
  }

  .form--message.focused {
    padding-bottom: 90px;
  }
}

.message_card__inner {
  .label--text {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .middot {
    font-weight: normal;
    color: rgba($secondary, .6);

    @include rem(margin, 0 4px)
  }
}

.label--text {
  letter-spacing: 0.89px;

  .icon {
    @include rem(font-size, 14px)
  }
}

.label--dark {
  color: $secondary !important;
}

.user_badge--small {
  .user_badge__img {
    @include rem(width, 40px);
    @include rem(height, 40px);
    @include rem(margin-right, 20px);
  }

  .user_badge__info,
  .user_badge__message {
    @include rem(padding-top, 9px);
  }
}

.table.table--simple {
  @include rem(margin-bottom, 30px);
}